@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  /* Evita que el input se redimensione por las flechas */
  -moz-appearance: textfield;
}

/* Estilos generales */
body {
    font-family: righteous;
    background-image: url('https://drscdn.500px.org/photo/38442138/m%3D900/v2?sig=0693e32cc0e7fd956e7977b221b3d12bb5a28bcae465abae5f2be5d44a2b0afd');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background: linear-gradient(#29c0b1c4,#ccc);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    opacity: 0.8;
  }
  
  
  fieldset {
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
  }

  fieldset:hover{
   color: rgb(168, 168, 168);
   background: #000000;
   transform: scale(1.1,1.2);
  }

  legend{
    text-align: center;
    text-decoration: solid;
  }

  .cont{
    display: flex;
    flex-wrap: wrap;
  }
  
  .col1{
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .col2{
    flex-basis: 50%;
    box-sizing: border-box;
  }
  
  .inf{
    margin-bottom: 10px;
    width: 100%;
  }
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-bottom: 5px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  header {
    padding: 20px;
    text-align: center;
    font-family: Righteous;
  }
  
  h1 {
    font-size: 40px;
  }

@keyframes colorChange {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: rgb(0, 255, 255); }
    100% { color: purple; }
  }
  
  header h1 {
    animation: colorChange 10s linear infinite;
    transition: 0,3s;
  }

  .sub{
    align-items: center;
    border-radius: 5px;
    background: #098175;
    width: 900%;
    height: 2rem;
    transition: transform 0.3s ease-in-out;
  }
  .flex{
    display: flex;
    margin-left: 28%;
    gap: 10px;
  }
  .sub:hover{
    transform: scale3d(1.2, 1.2, 1.2);
    color: rgb(1, 38, 223);
    background-color: rgba(0, 255, 255, 0.479);
    box-shadow: 20px;
  }
