.tit{
    text-align: center;
    color: black;
    text-shadow: 0px 2px 4px green;
}
.sub {
text-align: center;
}
.p1{
    text-align: center;
}
.p2{
    color: antiquewhite;
    text-align: center;
}

.rel, .flex, .abs{
  color: rgb(11, 153, 30);
  font-size: 200%; 
}

.tablax:hover {
    background-color: rgba(255, 255, 255, 0.767); /* Cambia el color de fondo al hacer hover */
    color: #000; /* Cambia el color de texto al hacer hover */
  }
  

.tablax {
    border: 2px solid rgb(11, 196, 11);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 2s ease;
}

  .tablax td {
    border: 1px solid rgb(11, 196, 11);
    padding: 5px;
    text-align: center;
  }
  
  .tablax th {
    border: 20px solid rgb(11, 196, 11);
    padding: 5px;
    text-align: center;
  }
  
  .tablax-container {
    border: 20px solid rgb(11, 196, 11);
    border-radius: 5px;
  }
  .fondo {
    background: linear-gradient(to bottom, #4d8a9e, #031603);
  }
  
  