body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1dbbb3, #039815); /* Fondo con gradiente */
    text-align: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(13, 139, 116, 0.4); /* Fondo transparente */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Volver{
    background-color: antiquewhite;
}

#agregar-auto-form {
width: 100%;
}

#marca, #modelo, #precio {
    width: 270px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #3d2f2f73;
    border-radius: 4px;
}

button {
    background-color: #2b4968;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* Estilos adicionales para la galería de autos */
#autos-portfolio {
    margin-top: 20px;
    text-align: left;
    background-color: rgba(118, 132, 129, 0.4); /* Fondo transparente */
    padding: 10px; /* Agregar espacio interno para que sea visible */
    border-radius: 8px;
}

.auto-item {
    border: 1px solid #6b15bc;
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: transform 0.2s, box-shadow 0.2s;
    width: calc(30.33% - 20px); 
    margin-right: 20px;
}

.auto-item img {
    max-width: 100%;
    height: auto;
}

.auto-item:nth-child(3n) {
    margin-right: 0;
}

.auto-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.autos-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes cambioColor {
    0% {
        color: #dba905d1; 
    }
    50% {
        color: #c007ea;
    }
    100% {
        color: #075249;
    }
}


h1 {
    font-size: 38px; 
    color: #04564d; 
    animation: cambioColor 5s linear infinite; 
    transition: font-size 0.7s; 
}


h1:hover {
    font-size: 28px;
}
